{{!-- anguished --}}
					<div class="anguished has-note">
						<input id="{{actor._id}}-anguished" type="checkbox" name="system.attributes.anguished" data-dtype="Boolean" {{checked system.attributes.anguished}}>
						<label for="{{actor._id}}-anguished">
							<i class="anguished-icon fas fa-face-disappointed"></i>
						</label>
						<div class="note ang-note">{{ localize 'LOTR.Anguished' }}</div>
					</div>