{{!-- Miserable --}}
					<div class="miserable has-note">
						<input id="{{actor._id}}-miserable" type="checkbox" name="system.attributes.miserable" data-dtype="Boolean" {{checked system.attributes.miserable}}>
						<label for="{{actor._id}}-miserable">
							<i class="miserable-icon fas fa-frown-open"></i>
						</label>
						<div class="note">{{ localize 'LOTR.Miserable' }}</div>
					</div>