<li class="attribute fellowship">
  <h4 class="attribute-name box-title">{{localize "LOTR.FellowshipPoints"}}</h4>
  <div class="attribute-value">
    <input
      type="number"
      name="flags.lotr5e.attributes.fellowship"
      data-dtype="Number"
      value="{{flags.lotr5e.attributes.fellowship}}"
      placeholder="0"
    />
  </div>
</li>