  /* ----------------------------------------- */
  /*  NEW 5E ACTOR SHEET                       */
  /* ----------------------------------------- */
  .dnd5e2.sheet.actor.character {
    min-width: 962px;
  }
  .dnd5e2.sheet.actor.character .ability-scores .rows > div {
    gap: 18px;
  }
  @container (min-width: 700px) {
    .dnd5e2.sheet.actor.character .ability-scores .rows {
      gap:18px;
    }
  }
  .dnd5e2.sheet.actor.character .ability-scores .rows {
    padding-left: 0px;
  }
  li.lotr5eli {
    margin-top: 10%;
  }
  label.lotr5eSum {
    flex-direction: column;  
    align-items: flex-start !important;
  }
  label.lotr5eSum span.value {
    width:100%;
  }
  .dnd5e2.sheet.actor.character .ability-scores .ability-score[data-ability="sha"]::before,
  .dnd5e2.sheet.actor.character .ability-scores .ability-score[data-ability="perm"]::before {
    background: url("../assets/ability-score-tab.svg") transparent no-repeat top center / contain;;
  }
  :is(.dnd5e-theme-dark, .theme-dark) .dnd5e2.sheet.actor.character .ability-score[data-ability="sha"]::before, .dnd5e2.sheet.actor.character.dnd5e-theme-dark .ability-score[data-ability="sha"]::before,
  :is(.dnd5e-theme-dark, .theme-dark) .dnd5e2.sheet.actor.character .ability-score[data-ability="perm"]::before, .dnd5e2.sheet.actor.character.dnd5e-theme-dark .ability-score[data-ability="perm"]::before {
    background: url("../assets/ability-score-tab-dark.svg") transparent no-repeat top center / contain;
  }
  .dnd5e2.sheet.actor.character .ability-scores .ability-score[data-ability="sha"] > a,
  .dnd5e2.sheet.actor.character .ability-scores .ability-score[data-ability="perm"] > a  {
    pointer-events: none;
  }
  .dnd5e2.sheet.actor.character .ability-scores .ability-score[data-ability="sha"] .sign,
  .dnd5e2.sheet.actor.character .ability-scores .ability-score[data-ability="perm"] .sign  {
    display: none;
  }
  .dnd5e2.sheet.actor.character .sheet-body .saves li[data-ability="sha"],
  .dnd5e2.sheet.actor.character .sheet-body .saves li[data-ability="perm"] {
    display: none;
  }
  .unbutton.miserable input {
    opacity: 0;
  }
  .unbutton.anguished input {
    opacity: 0;
  }
  .dnd5e2.sheet.actor.character .sheet-header > .right .miserable {
    --size: 36px;
    padding: 0;
    position: absolute;
    right: calc(var(--level-size) + var(--padding-right) - var(--size) * 2.66);
    top: calc(var(--level-size) / 2 - var(--size) / 2);
    width: var(--size);
    height: var(--size);
    background: transparent url("../../../systems/dnd5e/ui/inspiration.webp") no-repeat center / contain;
    filter: drop-shadow(0 3px 4px var(--dnd5e-shadow-45)) hue-rotate(342deg);
    display: grid;
    place-content: center;
  }
  .dnd5e2.sheet.actor.character .sheet-header > .right .miserable[aria-pressed="false"]:hover {
    filter: drop-shadow(black 0px 0px 10px);
  }
  .dnd5e2.sheet.actor.character .sheet-header > .right .miserable[aria-pressed="true"] {
    filter: drop-shadow(0 3px 4px var(--dnd5e-shadow-45)) hue-rotate(340deg) saturate(1.5);
    transition: all 0.5s !important;
  }
  .dnd5e2.sheet.actor.character .miserable[aria-pressed="true"]::after {
    content: "";
    width: calc(var(--size) / 4 - 1px);
    height: calc(var(--size) / 4 - 1px);
    background: white;
    transform: rotate(45deg);
    box-shadow: 0 0 8px 3px rgb(0, 0, 0);
    animation: pulsate-miserable 3s infinite ease-in-out;
    position: absolute;
    right: calc(var(--size) / 2.66);
    pointer-events: none;
  }
  @keyframes pulsate-miserable {
    0% {
      box-shadow: 0 0 8px 3px #79662b;
    }
    50% {
      box-shadow: 0 0 8px 4px #79662b;
    }
    100% {
      box-shadow: 0 0 8px 3px #79662b;
    }
  }
  .dnd5e2.sheet.actor.character .sheet-header > .right .anguished {
    --size: 36px;
    padding: 0;
    position: absolute;
    right: calc(var(--level-size) + var(--padding-right) - var(--size) * 1.6);
    top: calc(var(--level-size) / 1 - var(--size) / 1.6);
    width: var(--size);
    height: var(--size);
    background: transparent url("../../../systems/dnd5e/ui/inspiration.webp") no-repeat center / contain;
    filter: drop-shadow(0 3px 4px var(--dnd5e-shadow-45));
    display: grid;
    place-content: center;
    box-shadow: none;

  }
  .dnd5e2.sheet.actor.character .sheet-header > .right .anguished[aria-pressed="false"]:hover {
    filter: drop-shadow(black 0px 0px 10px);
  }
  .dnd5e2.sheet.actor.character .sheet-header > .right .anguished[aria-pressed="true"] {
    filter: drop-shadow(0 3px 4px var(--dnd5e-shadow-45)) hue-rotate(320deg) saturate(2.5) brightness(0.8);
    transition: all 0.5s !important;
  }
  .dnd5e2.sheet.actor.character .anguished[aria-pressed="true"]::after {
    content: "";
    width: calc(var(--size) / 4 - 1px);
    height: calc(var(--size) / 4 - 1px);
    background: rgb(0, 0, 0);
    transform: rotate(45deg);
    box-shadow: 0 0 8px 3px black;
    animation: pulsate-anguished 3s infinite ease-in-out;
    position: absolute;
    right: calc(var(--size) / 2.66);
    pointer-events: none;
  }
  @keyframes pulsate-anguished {
    0% {
      box-shadow: 0 0 8px 3px black;
    }
    50% {
      box-shadow: 0 0 8px 4px black;
    }
    100% {
      box-shadow: 0 0 8px 3px black;
    }
  }
  @media (prefers-reduced-motion) {
    .dnd5e2.sheet.actor.character .miserable[aria-pressed="true"]::after {
      animation: none;
    }
  }

  :is(.dnd5e2, .dnd5e2-journal) :is(i, span).currency{
    &.cp:after {
      content: "CC";
      margin-top: -1px;
      font-size: var(--font-size-13);
      color: #c9986a;
      font-style: normal;
      display: block;
      height: 15px !important;
    }
    &.sp:after {
      content: "SP";
      margin-top: -1px;
      font-size: var(--font-size-13);
      color: #bbb;
      font-style: normal;
      display: block;
      height: 15px !important;
    }
    &.gp:after {
      content: "GP";
      margin-top: -1px;
      font-size: var(--font-size-13);
      color: #dfd476;
      font-style: normal;
      display: block;
      height: 15px !important;
    }
  }

 /* ----------------------------------------- */
.dnd5e.sheet.actor.character .ability-scores {
  flex: 0 0 100px;
  height: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 3px;
}
.dnd5e.sheet.actor.npc .ability-scores {
  flex: 0 0 100px;
  height: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 3px;
}
/* .dnd5e.sheet.actor.npc .ability-scores .ability:last-child {
  margin-bottom: -15px;
} */

.dnd5e.sheet.actor ul.skills-list {
  flex: 0 0 180px;
  height: auto;
  list-style: none;
  margin: 0 5px 0;
  padding: 3px 0 2px;
  border-radius: 3px;
}
.dnd5e.sheet.actor.character {
  min-width: 720px;
  min-height: 820px;
  height: 820px;

}
.dnd5e.sheet.actor.npc {
  min-width: 720px;
  min-height: 725px;
  height: 725px !important;
}
/* .dnd5e.sheet.actor .sheet-header .summary input, .dnd5e.sheet.actor .sheet-header .summary span {
    font-size: 14px !important;
} */
.dnd5e.sheet.actor .ability-scores .ability2 {
  height: 60px;
  text-align: center;
  border: 0px;
  border-bottom: 0px groove #eeede0;
  color: white;
}
.dnd5e.sheet.actor .ability2 h4.box-title {
  pointer-events: none;
}
.dnd5e.sheet.actor .ability-scores .ability2 input.ability-score {
  height: 30px;
  width: 36px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 24px;
}
.dnd5e.sheet.actor .ability-scores .ability3 {
  height: 50px;
  width: auto;
  text-align: center;
  border: 2px groove;
  margin: 0 10px 20px 10px;
}
.dnd5e.sheet.actor h4.box-title-small {
  height: 14px;
  line-height: 16px;
  margin: 4px 1px 2px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 14px;
  font-weight: 700;
  color: #4b4a44;
  border: 0px solid #c9c7b8;
  white-space: nowrap;
  pointer-events: none;
}
.dnd5e.sheet.actor .ability-scores .ability3 input.ability-score {
  height: 22px;
  width: 36px;
  margin: 0 auto 30px auto;
  line-height: 32px;
  font-size: 24px;
}
.dnd5e.sheet.actor .sheet-header .summary2 {
  flex: 0 0 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: none;
  border-bottom: none;
}
.dnd5e.sheet .sheet-header .summary2 li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: #4b4a44;
}
.dnd5e.sheet .sheet-header .summary2 li:last-child {
  border-right: none;
  margin-right: 5px;
}
.dnd5e.sheet .sheet-header .header-details .summary2 select {
  width: 100%;
  height: 100%;
  border: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-weight: 100;
}
.dnd5e.sheet.actor .sheet-header .summary2 {
  height: 30px;
  border-bottom: 2px groove #eeede0;
  font-size: 18px;
}
.dnd5e.sheet.actor .sheet-header .summary2 input,
.dnd5e.sheet.actor .sheet-header .summary2 span {
  display: block;
  height: 24px;
  line-height: 24px;
}
.dnd5e.sheet.actor .sheet-header .summary2 span {
  margin-inline-start: 4px;
  border-block-start: 1px solid transparent;
}
.dnd5e.sheet.actor .sheet-header .summary2 select {
  position: relative;
  top: -4px;
}
